@font-face {
  font-family: "Helvetica";
  src: url(/assets/fonts/helvetica/Helvetica.ttf) format("ttf");
}
@font-face {
  font-family: "Helvetica-Bold";
  src: url(/assets/fonts/helvetica/Helvetica-Bold.ttf) format("ttf");
}
@font-face {
  font-family: "Helvetica-italic";
  src: url(/assets/fonts/helvetica/Helvetica-Neue.ttf) format("ttf");
}

@font-face {
  font-family: "Jun_Regular";
  src: url(/assets/fonts/jun/Jun_Regular.otf) format("opentype");
}
@font-face {
  font-family: "Jun-Italic";
  src: url(/assets/fonts/jun/Jun_Italic.otf) format("opentype");
}
