@use "./variables";

.serwices {
  margin-bottom: 225px;

  @media (max-width: 1400px) {
    margin-bottom: 180px;
  }
  @media (max-width: 1195px) {
    margin-bottom: 174px;
    margin: 0 30px 174px 30px;
  }
  @media (max-width: 837px) {
    margin-bottom: 120px;
  }
  @media (max-width: 376px) {
    margin: 0 10px 104px 10px;
  }

  &_body {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;

    @media (max-width: 975px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    @media (max-width: 464px) {
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(268px, auto);
      gap: 16px;
    }
  }
}

.bodyCol {
  font-size: clamp(1.0625rem, 0.9567rem + 0.4575vw, 1.5rem);
  font-family: variables.$helvetica, sans-serif;
  border: 3px solid transparent;
  background:
    linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(180deg, #ff9595 0%, #c17aff 127.07%) border-box;
  border-radius: 30px;
  padding: 40px 50px 31px 56px;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: all 1s ease-out;

  &:hover {
    background: linear-gradient(180deg, #ff9595 0%, #c17aff 127.07%);
    border: 3px solid white;
    color: white;
  }
  &:nth-child(1),
  &:nth-child(2) {
    grid-column: span 4;
  }

  &:nth-child(3),
  &:nth-child(5) {
    grid-column: span 2;

    @media (max-width: 1195px) and (min-width: 975px) {
      grid-column: span 2;
      max-width: 226px;
    }
  }

  &:nth-child(4) {
    grid-column: span 4;

    @media (max-width: 1195px) and (min-width: 975px) {
      max-width: 467px;
    }
  }

  @media (max-width: 1195px) {
    padding: 35px 17px 16px 38px;
  }

  @media (max-width: 975px) {
    &:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &:nth-child(2) {
      grid-column: 2/2;
      grid-row: 1/2;
    }
    &:nth-child(3) {
      grid-column: 1/2;
      grid-row: 2/2;
    }
    &:nth-child(5) {
      grid-column: 2/2;
      grid-row: 2/2;
    }
    &:nth-child(4) {
      grid-column: 1/3;
      grid-row: 3/4;
    }
  }

  @media (max-width: 464px) {
    &:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &:nth-child(2) {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    &:nth-child(3) {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    &:nth-child(5) {
      grid-column: 1/2;
      grid-row: 4/5;
    }
    &:nth-child(4) {
      grid-column: 1/2;
      grid-row: 5/6;
      min-height: 359px;
    }
  }

  @media (max-width: 464px) {
    padding: 40px 39px 16px 48px;
    border-radius: 24px;
  }

  &_title {
    font-weight: 600;
    margin-bottom: clamp(1.0625rem, 0.9549rem + 0.459vw, 1.5rem);
  }

  &_text {
    font-size: clamp(1.0625rem, 0.8567rem + 0.3575vw, 1.5rem);
    @media (max-width: 464px) {
      width: 100%;
    }
  }
}
.colimg {
  width: 79px;
  height: 79px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease;
  cursor: pointer;

  align-self: flex-end;

  @media (max-width: 1195px) {
    width: 48px;
  }

  @media (max-width: 464px) {
    width: 50px;
  }
}
.gradient {
  background: linear-gradient(180deg, #ff9595 0%, #c17aff 127.07%);
  color: white;
  border: 1px solid transparent;
}

.img-1 {
  background-image: url("/assets/images/1.svg");
}
.bodyCol:hover .img-1 {
  background-image: url("/assets/images/4W.svg");
}

.img-2 {
  background-image: url("/assets/images/2.svg");
}
.bodyCol:hover .img-2 {
  background-image: url("/assets/images/3W.svg");
}

.img-3 {
  background-image: url("/assets/images/3.svg");
}
.bodyCol:hover .img-3 {
  background-image: url("/assets/images/1W.svg");
}

.img-4 {
  background-image: url("/assets/images/4.svg");
}

.img-5 {
  background-image: url("/assets/images/5.svg");
}
.bodyCol:hover .img-5 {
  background-image: url("/assets/images/2W.svg");
}
